body, section, header, footer, nav, ul, li, h1, h2, h3, h4, blockquote, p, div, wrapper {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
}

header{
  background-color: #404040;
  padding: 2em 0.1em 1em 0.1em;
  position: fixed;
  width: 100vw;

}

nav a {
  text-decoration: none;
  color: #e1ecf5;
  text-transform: uppercase;
}
nav a:hover {
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

/*  ++++++++ SPLASH ++++++++ */

#splash {
  height: 100vh;
  background-color: #404040;
  display: flex;
  align-items: flex-end;
  background-image: url("https://cdn.gomix.com/bcd233ae-6641-4250-b294-df1088854901%2FlogoBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;

}
#splash h1{
  color: #e1ecf5;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  font-size: 1.75em;
  padding-bottom: 1em;
}

/* ======= GEMS ============ */

#Gems {
  background-color: #333;
  background-size: 100vh;
}
#Gems div {
  display: flex;
  flex-wrap: wrap;
}

#Gems h1{
  padding-top: 5em;
  color: #e1ecf5;
  text-align: center;
  font-weight: 300;
  font-size: 1.8em;
}
#Gems a{
  display: inline-block;
  margin-bottom: 5em;
  width: 32%;
  margin-right: 0.5em;
  text-decoration: none;
  color: #fff;
  max-height: 10em;
}
#Gems a:nth-of-type(2n) {
  margin-right: 0;
}
#Gems a:hover img{
  transform: scale(1.15);
}
#Gems img {
  margin: 0;
  overflow: hidden;
  min-width: 10em;
  height: 10em;
}
 #Gems figcaption {
   text-align: center;
   font-size: 1em;
   color: black;
   display: flex;
   flex-direction: column;
   padding-left: 1em;
 }
figcaption .firstRow {
   padding: 1em 0 1em 2em;
}
figcaption .secondRow {
  padding-right: 1.5em;
}

#Gems figcaption span {
  font-size: 0.8em;
}

#Gems figure {
  display: flex;
  align-items: center;
  border: none;
  max-width: 200%;
  height: auto;
  background: #ccc;
  transition: transform .2s ease-in-out;
}


/* +++++++++ ABOUT +++++++++++++++ */


#About {
  height: 100vh;
  background-image: url("https://cdn.gomix.com/bcd233ae-6641-4250-b294-df1088854901%2FSuperLightSchematic.png");
  background-color: #e1ecf5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#About h2{
 margin: 0 auto;
 padding-top: 3em;
 padding-bottom: 1em;
 text-align: center;
 font-size: 2.5em;
 color: #404040;
 font-weight: 500;
  opacity: 0.8;

}

#About blockquote {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #404040;
  font-size: 1.1em;
}
.strong {
  color: #404040;
  font-weight: 700;
  font-size: 1.1em;
}



/* ======== JEWELRY ======== */
#Jewelry {
  background-color: rgba(144,180,186,0.5);
  height: 100vh;
}

#Jewelry hgroup{
  padding-top: 6.5em;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
#Jewelry h2{
  font-size: 1.7em;
  color: #759F9B;
  font-weight: 300;
  font-family: 'Lora', serif;
  text-shadow: 1px 2px 0px #fff;
  padding-bottom: 10px;
}
 #Jewelry h3 {
   color: #fff;
   font-weight: 300;
   padding-bottom: 1em;
 }
 #Jewelry h4 {
   color: #fff;
   font-style: italic;
   text-align: center;
   font-weight: 300;
   font-size: 1.15em;
   padding: 1.5em 0;
 }
 #Jewelry span {
   text-decoration: underline;
 }
#Jewelry p {
  color: #404040;
  font-size: 0.8em;
  text-align: left;
}

#Jewelry p:first-letter{
font-size: 4.7em;
 font-weight: bold;
 float: left;
 font-family: 'Lora';
 padding-right: 0.2em;
 color: #759F9B;
line-height: 69px;
text-shadow: 1px 1px 0px #fff;
}


#Jewelry wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
#jewelry_left, #jewelry_center, #jewelry_right {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
}

#jewelry_right {
  width: 40%;

}
#jewelry_right p:first-child {
  padding-bottom: 1.5em;
}

#jewelry_center{
  max-width: 25%;
  padding-right: 2em;
  text-align: center;
  font-size: 0.8em;
}

#jewelry_left {
  max-width: 30%;
  padding-right: 2em;
}
/*   ====== FOOTER ======== */
footer a{
  color: #FC963D;
}
footer {
  background-color: #677A81;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  padding: 0 !important;
  color: #fff;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}

@media (max-width: 28em){
  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
}

@media (min-width: 29em){
  #nopipe::after {
    content: "|";
    padding-left: 5px;
  }
}
